@{
    ViewBag.Title = "About Us";
    ViewBag.ShowBreadcrumbs = true;
}
<html>
    <head>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    </head>
<body>

        <!-- ======= About Section ======= -->
    <section id="about" class="about" >
        <div class="container" >

            <div class="row position-relative" data-aos="fade-up" data-aos-anchor-placement="top-bottom">

                <div class="col-lg-7 about-img" style="background-image: url('/images/about.jpg');"></div>

                <div class="col-lg-7">
                    <h2>About Us</h2>
                    <div class="our-story">
                        <h4>Est 2023</h4>
                        <h3>Our Journey</h3>
                        <p>We are a platform that has been at the forefront of revolutionizing the construction industry. Our mission is to provide an efficient and hassle-free way for businesses and individuals to rent construction equipment. We pride ourselves on our ability to offer a wide range of equipment, catering to the diverse needs of our clients.</p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Efficient</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Ensuring the highest standards of service and reliability</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Innovating</span></li>
                        </ul>
                        <p>We believe in the importance of integrity, transparency, and customer satisfaction. We are dedicated to providing exceptional service and building long-term relationships with our clients. Our success is measured by the success of the projects we help facilitate.</p>

                        <div class="watch-video d-flex align-items-center position-relative">
                            <i class="bi bi-play-circle"></i>
                            <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">Watch Video</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

        <!-- End About Section -->
        <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg" data-aos="zoom-in">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1" class="purecounter">0</span>
                                <p>Happy Clients</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1" class="purecounter">0</span>
                                <p>Projects</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-headset color-green flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1" class="purecounter">0</span>
                                <p>Hours Of Support</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="stats-item d-flex align-items-center w-100 h-100">
                            <i class="bi bi-people color-pink flex-shrink-0"></i>
                            <div>
                                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1" class="purecounter">0</span>
                                <p>Hard Workers</p>
                            </div>
                        </div>
                    </div><!-- End Stats Item -->

                </div>

            </div>
        </section><!-- End Stats Counter Section -->
        <!-- ======= Alt Services Section ======= -->
        <section id="alt-services" class="alt-services">
            <div class="container aos-init" data-aos="fade-up">

                <div class="row justify-content-around gy-4">
                    <div class="col-lg-6 img-bg aos-init" style="background-image: url('/images/services.jpg');" data-aos="zoom-in" data-aos-delay="100"></div>

                    <div class="col-lg-5 d-flex flex-column justify-content-center">
                        <h3>Revolutionizing the Construction Industry</h3>
                        <p>We are committed to providing an efficient and hassle-free platform for businesses and individuals to rent construction equipment.</p>

                        <div class="icon-box d-flex position-relative aos-init" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-easel flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Wide Range of Equipment</a></h4>
                                <p>We offer a wide range of equipment, catering to the diverse needs of our clients.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative aos-init" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-patch-check flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Reliable Service</a></h4>
                                <p>We understand the importance of dependability in the construction industry and strive to exceed expectations.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative aos-init" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Innovative Solutions</a></h4>
                                <p>We aim to be a one-stop solution for all construction rental needs, making the process as seamless as possible for our clients.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative aos-init" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Customer Satisfaction</a></h4>
                                <p>We believe in the importance of customer satisfaction and are dedicated to providing exceptional service.</p>
                            </div>
                        </div><!-- End Icon Box -->

                    </div>
                </div>


            </div>
        </section><!-- End Alt Services Section -->
        <!-- ======= Alt Services Section 2 ======= -->
        <section id="alt-services-2" class="alt-services section-bg">
            <div class="container aos-init" data-aos="fade-up">

                <div class="row justify-content-around gy-4">
                    <div class="col-lg-5 d-flex flex-column justify-content-center">
                        <h3>Leading the Way in Construction Innovation</h3>
                        <p>We strive to provide the best solutions for your construction needs. Our commitment to excellence and customer satisfaction sets us apart in the industry.</p>

                        <div class="icon-box d-flex position-relative aos-init" data-aos="fade-up" data-aos-delay="100">
                            <i class="bi bi-easel flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Quality Equipment</a></h4>
                                <p>We offer a wide range of high-quality construction equipment to ensure your project's success.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative aos-init" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-patch-check flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Reliable Service</a></h4>
                                <p>We pride ourselves on our reliable service and commitment to customer satisfaction.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative aos-init" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Innovative Solutions</a></h4>
                                <p>We continuously innovate to provide the most effective solutions for your construction needs.</p>
                            </div>
                        </div><!-- End Icon Box -->

                        <div class="icon-box d-flex position-relative aos-init" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-brightness-high flex-shrink-0"></i>
                            <div>
                                <h4><a href="" class="stretched-link">Customer Satisfaction</a></h4>
                                <p>Your satisfaction is our top priority. We strive to exceed your expectations in every aspect of our service.</p>
                            </div>
                        </div><!-- End Icon Box -->
                    </div>


                    <div class="col-lg-6 img-bg aos-init" style="background-image: url('/images/alt-services-2.jpg');" data-aos="zoom-in" data-aos-delay="100"></div>
                </div>

            </div>
        </section><!-- End Alt Services Section 2 -->


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Initialize AOS -->
    <script>
        AOS.init({
            once: false, // whether animation should happen only once - while scrolling down
        });

    </script>


</body>
</html>