@{
    ViewBag.Title = "FAQ";
    ViewBag.ShowBreadcrumbs = true;
}
<head>
   
   
    <style>
        

        .section_padding_130 {
            padding-top: 130px;
            padding-bottom: 130px;
        }

        .faq_area {
            position: relative;
            z-index: 1;
            background-color: #f5f5ff;
        }

        .faq-accordian {
            margin-top: 20px;
            position: relative;
            z-index: 1;
        }

            .faq-accordian .card {
                position: relative;
                z-index: 1;
                margin-bottom: 1.5rem;
            }

                .faq-accordian .card:last-child {
                    margin-bottom: 0;
                }

                .faq-accordian .card .card-header {
                    background-color: #ffffff;
                    padding: 0;
                    border-bottom-color: #ebebeb;
                }

                    .faq-accordian .card .card-header h6 {
                        cursor: pointer;
                        padding: 1.75rem 2rem;
                        color: #3f43fd;
                        display: -webkit-box;
                        display: -ms-flexbox;
                        display: flex;
                        -webkit-box-align: center;
                        -ms-flex-align: center;
                        -ms-grid-row-align: center;
                        align-items: center;
                        -webkit-box-pack: justify;
                        -ms-flex-pack: justify;
                        justify-content: space-between;
                    }

                        .faq-accordian .card .card-header h6 span {
                            font-size: 1.5rem;
                        }

                        .faq-accordian .card .card-header h6.collapsed {
                            color: #070a57;
                        }

                            .faq-accordian .card .card-header h6.collapsed span {
                                -webkit-transform: rotate(-180deg);
                                transform: rotate(-180deg);
                            }

                .faq-accordian .card .card-body {
                    padding: 1.75rem 2rem;
                }

                    .faq-accordian .card .card-body p:last-child {
                        margin-bottom: 0;
                    }

        @@media only screen and (max-width: 575px) {
            .support-button p {
                font-size: 14px;
            }
        }

        .support-button i {
            color: #3f43fd;
            font-size: 1.25rem;
        }

        @@media only screen and (max-width: 575px) {
            .support-button i {
                font-size: 1rem;
            }
        }

        .support-button a {
            text-transform: capitalize;
            color: #2ecc71;
        }

        @@media only screen and (max-width: 575px) {
            .support-button a {
                font-size: 13px;
            }
        }
    </style>
</head>
<body>
  
    <div class="faq_area section_padding_130" id="faq">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <h3><span>Frequently </span> Asked Questions</h3>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- FAQ Area-->
                <div class="col-12 col-sm-10 col-lg-8">
                    <div class="accordion faq-accordian" id="faqAccordion">
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingOne">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">What steps should I take if I'm not satisfied with the work?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>If the work doesn't meet your expectations, our customer support team is ready to step in. We're committed to turning your experience around and will work with you to resolve any issues.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingTwo">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">How does the resolution process work?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Our resolution process involves understanding the issue, communicating with both parties, and finding a fair and satisfactory solution.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingThree">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Can I communicate with the construction professional directly?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Yes, our platform includes a messaging system that allows you to communicate directly with the construction professional.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingFour">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseThree">How often are project updates provided?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Project updates are provided in real-time. You can check the status of your project at any time.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingFive">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">Are the Construction Pros Insured?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Absolutely! All construction professionals on our platform are required to have valid insurance. It's like a safety net, protecting homeowners from any property damage or injuries on the job site.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingSix">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">What issues can customer support assist with?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        Our customer support can assist with a wide range of issues, from technical problems to disputes between users. We're here to help!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card border-0 wow fadeInUp" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">
                            <div class="card-header" id="headingSeven">
                                <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">How can I contact customer support?<span class="lni-chevron-up"></span></h6>
                            </div>
                            <div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#faqAccordion">
                                <div class="card-body">
                                    <p>
                                        You can contact our customer support team through the platform. We're available 24/7 to assist you.
                                    </p>
                                </div>
                            </div>
                        </div>

                    <!-- Support Button-->
                    <div class="support-button text-center d-flex align-items-center justify-content-center mt-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                        <i class="lni-emoji-sad"></i>
                        <p class="mb-0 px-2">Can't find your answers?</p>
                        <a href="@Url.Action("ContactUs", "Home")">Contact us</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js'></script>
</body>


